[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart={{ venv_path }}/bin/uwsgi --master --emperor {{ vassal_dir }} --die-on-term --uid {{ nginx_user }} --gid {{ nginx_group }} 
RuntimeDirectory=uwsgi
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
